<script setup lang="ts">
import { ref } from 'vue'
import { RouterView } from "vue-router";
import { mdiWeatherSunny, mdiWeatherNight, mdiMovieOpen ,mdiHomeCircle, mdiCartOutline , mdiListBox ,mdiGoogleDownasaur,mdiMinecraft, mdiAlphaMBoxOutline} from '@mdi/js'
import HomeView from './HomeView.vue';
import ShopView from './ShopView.vue';
import Main2View from './Main2View.vue';
import {useTicketStore} from '@/stores/ticket'


const tab = null
const theme = ref('dark')
const on2off = useTicketStore()

function onclick() {
  theme.value = theme.value === 'light' ? 'dark' : 'light'
}
</script>

<template>
  <v-app :theme="theme">
    <v-app-bar class="bg-purple-darken-3">
      <!-- <v-img src="https://play-lh.googleusercontent.com/gYoKaMjxI-yw1d-REHlw7YJvhMZwHfrpLyXne8VsL15bEiTezsxI9ERzBQWMiy8NQsY" width="50" height="50"></v-img> -->

      <v-icon :icon="mdiAlphaMBoxOutline" size="x-large"></v-icon>
      <div>Madi Cinema</div>

      <!-- <v-icon icon="$vuetify" size="x-large"></v-icon> -->
      <!-- <v-icon :icon="mdiMinecraft" size="x-large"></v-icon> -->
      

    <v-row  justify="center" no-gutters>  <!--ให้ tab อยู่ตรงกลาง justify="center"  -->

      <v-btn
        color="white"
        variant="text"
        class="mx-2"
        rounded="xl"
        title="Home" value="home" to="/home" @click="on2off.on2off"
        :prepend-icon="mdiHomeCircle"
      >Home / หน้าหลัก</v-btn>
      <v-btn
        color="white"
        variant="text"
        class="mx-2"
        rounded="xl"
        title="Movies" value="movie" to="/movie" @click="on2off.on2off"
        :prepend-icon="mdiMovieOpen"
      >Movies / ภาพยนตร์</v-btn>
      <v-btn
        color="white"
        variant="text"
        class="mx-2"
        rounded="xl"
        title="Shops" value="shop" to="/shop" @click="on2off.on2off"
        :prepend-icon="mdiCartOutline"
        >Shops / ร้านค้า</v-btn>
      <v-btn
        color="white"
        variant="text"
        class="mx-2"
        rounded="xl"
        title="Movie tickets" value="list" to="/list" @click="on2off.on2off"
        :prepend-icon="mdiListBox"
      >check tickets / ตรวจสอบตั๋วภาพยนตร์</v-btn>
    </v-row>
    <v-btn :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherNight" @click="onclick">Toggle
        Theme</v-btn>
  </v-app-bar>
  <v-main>
      <v-container>
        <HomeView v-if="on2off.onoff == true"/>
        <router-view v-if="on2off.onoff == false"></router-view>
      </v-container>
    </v-main>
  </v-app>

    
      </template>


