<script setup lang="ts">
import { useTypeStore } from "../type/type"
import { mdiSofaSingle, mdiClockTimeFiveOutline, mdiCheckCircleOutline, mdiAccount, mdiNumeric1Circle, mdiNumeric2Circle, mdiNumeric3Circle, mdiNumeric4Circle } from '@mdi/js';
import { ref } from 'vue';
const useType = useTypeStore()
const selected = ref([])
import {useTicketStore} from '../stores/ticket'
import type ticket from "../stores/ticket";
const useTicket = useTicketStore()

const A = ref([{id: 0, value: 'A'},{id: 1, value: 'A1'}, {id: 2, value: 'A2'}, {id: 3, value: 'A3'}, {id: 4, value: 'A4'}, {id: 5, value: 'A5'}, {id: 6, value: 'A6'}, {id: 7, value: 'A7'}, {id: 8, value: 'A8'}, {id: 9, value: 'A9'}, {id: 10, value: 'A10'}])
const B = ref([{id: 0, value: 'B'},{id: 1, value: 'B1'}, {id: 2, value: 'B2'}, {id: 3, value: 'B3'}, {id: 4, value: 'B4'}, {id: 5, value: 'B5'}, {id: 6, value: 'B6'}, {id: 7, value: 'B7'}, {id: 8, value: 'B8'}, {id: 9, value: 'B9'}, {id: 10, value: 'B10'}])
const C = ref([{id: 0, value: 'C'},{id: 1, value: 'C1'}, {id: 2, value: 'C2'}, {id: 3, value: 'C3'}, {id: 4, value: 'C4'}, {id: 5, value: 'C5'}, {id: 6, value: 'C6'}, {id: 7, value: 'C7'}, {id: 8, value: 'C8'}, {id: 9, value: 'C9'}, {id: 10, value: 'C10'}])
const D = ref([{id: 0, value: 'D'},{id: 1, value: 'D1'}, {id: 2, value: 'D2'}, {id: 3, value: 'D3'}, {id: 4, value: 'D4'}, {id: 5, value: 'D5'}, {id: 6, value: 'D6'}, {id: 7, value: 'D7'}, {id: 8, value: 'D8'}, {id: 9, value: 'D9'}, {id: 10, value: 'D10'}])
const E = ref([{id: 0, value: 'E'},{id: 1, value: 'E1'}, {id: 2, value: 'E2'}, {id: 3, value: 'E3'}, {id: 4, value: 'E4'}, {id: 5, value: 'E5'}, {id: 6, value: 'E6'}, {id: 7, value: 'E7'}, {id: 8, value: 'E8'}, {id: 9, value: 'E9'}, {id: 10, value: 'E10'}])
const F = ref([{id: 0, value: 'F'},{id: 1, value: 'F1'}, {id: 2, value: 'F2'}, {id: 3, value: 'F3'}, {id: 4, value: 'F4'}, {id: 5, value: 'F5'}, {id: 6, value: 'F6'}, {id: 7, value: 'F7'}, {id: 8, value: 'F8'}, {id: 9, value: 'F9'}, {id: 10, value: 'F10'}])
const G = ref([{id: 0, value: 'G'},{id: 1, value: 'G1'}, {id: 2, value: 'G2'}, {id: 3, value: 'G3'}, {id: 4, value: 'G4'}, {id: 5, value: 'G5'}, {id: 6, value: 'G6'}, {id: 7, value: 'G7'}, {id: 8, value: 'G8'}, {id: 9, value: 'G9'}, {id: 10, value: 'G10'}])
const I = ref([{id: 0, value: ' '},{id: 1, value: '1'}, {id: 2, value: '2'}, {id: 3, value: '3'}, {id: 4, value: '4'}, {id: 5, value: '5'}, {id: 6, value: '6'}, {id: 7, value: '7'}, {id: 8, value: '8'}, {id: 9, value: '9'}, {id: 10, value: '10'}])
const noused = (item: number, value: string) => {
  if (useTicket.ticketnow.name == useTicket.toshow[item].name && useTicket.ticketnow.where == useTicket.toshow[item].where && useTicket.ticketnow.date == useTicket.toshow[item].date && useTicket.ticketnow.time ){
    return true
  }
  else {
    return false
  }
  
}
// const alphaWord = ref(["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"])
</script>
<template>
  <v-card>
    <v-container>
      <v-row>
        <v-col style="color: #00E676;" cols="3">
          
          <h2 ><v-icon :icon="mdiNumeric1Circle" size="x-large" class="ma-5"></v-icon> ----------------</h2>
          <p2>เลือกภาพยนตร์</p2>
        </v-col>
          <v-col style="color: #00E676;" cols="3">
            <h2><v-icon :icon="mdiNumeric2Circle" size="x-large" class="ma-5"></v-icon> ----------------</h2>
            <p2>เลือกรอบฉาย</p2>
          </v-col>
          <v-col cols="3">
            <h2><v-icon :icon="mdiNumeric3Circle" size="x-large" class="ma-5"></v-icon> ---------------- </h2>
            <p2 class="ma-3">เลือกที่นั่ง</p2>
          </v-col>
          <v-col  >
            <h2><v-icon :icon="mdiNumeric4Circle" size="x-large" class="ma-5"></v-icon> </h2>
            <p2> ซื้อตั๋ว / ชำระเงิน</p2>

          </v-col>
      </v-row>
    </v-container>
  </v-card>
  <v-row>
    <v-col cols="8">
      <div class="pa-4 text-center bg-secondary  rounded-0">
         <h2> SCREEN</h2>
        </div>
    </v-col>
    <v-col>

    </v-col>
  </v-row>
  
  <v-container>
    
    <v-row>
      <v-col cols="8">
        <v-table>
          
      <tr>
        <td v-for="item in A" :key="item.id" >
          <div v-if="item.id == 0" class="ma-4">{{ item.value }}</div>
          <v-checkbox v-else v-model="selected" :value="item.value" :false-icon="mdiSofaSingle" :true-icon="mdiCheckCircleOutline" color="amber"></v-checkbox>
        </td>
      </tr>
      <tr>
        <td v-for="item in B" :key="item.id" >
          <div v-if="item.id == 0" class="ma-4">{{ item.value }}</div>
          <v-checkbox v-else v-model="selected" :value="item.value" :false-icon="mdiSofaSingle" :true-icon="mdiCheckCircleOutline" color="amber"></v-checkbox>
        </td>
        
      </tr>
      <tr>
        <td v-for="item in C" :key="item.id" >
          <div v-if="item.id == 0" class="ma-4">{{ item.value }}</div>
          <v-checkbox v-else v-model="selected" :value="item.value" :false-icon="mdiSofaSingle" :true-icon="mdiCheckCircleOutline" color="amber"></v-checkbox>
        </td>
      </tr>
      <tr>
        <td v-for="item in D" :key="item.id" >
          <div v-if="item.id == 0" class="ma-4">{{ item.value }}</div>
          <v-checkbox v-else v-model="selected" :value="item.value" :false-icon="mdiSofaSingle" :true-icon="mdiCheckCircleOutline" color="amber"></v-checkbox>
        </td>
      </tr>
      <tr>
        <td v-for="item in E" :key="item.id" >
          <div v-if="item.id == 0" class="ma-4">{{ item.value }}</div>
          <v-checkbox v-else v-model="selected" :value="item.value" :false-icon="mdiSofaSingle" :true-icon="mdiCheckCircleOutline" color="amber"></v-checkbox>
        </td>
      </tr>
      <tr>
        <td v-for="item in F" :key="item.id" >
          <div v-if="item.id == 0" class="ma-4">{{ item.value }}</div>
          <v-checkbox v-else v-model="selected" :value="item.value" :false-icon="mdiSofaSingle" :true-icon="mdiCheckCircleOutline" color="amber"></v-checkbox>
        </td>
      </tr>
      <tr>
        <td v-for="item in G" :key="item.id" >
          <div v-if="item.id == 0" class="ma-4">{{ item.value }}</div>
          <v-checkbox v-else v-model="selected" :value="item.value" :false-icon="mdiSofaSingle" :true-icon="mdiCheckCircleOutline" color="amber"></v-checkbox>
        </td>
      </tr>
      <tr>
        <td v-for="item in I" :key="item.id" >
          <div v-if="item.id == 0" class="ma-4"></div>
          <div v-else class="ma-4">{{ item.value }}</div>

          </td>
      </tr>
      
        
          <!-- <v-container>
            <v-row>
              <v-col>
                </v-col>
                  <v-icon :icon="mdiSofaSingle"></v-icon><div>150฿</div>
                <v-col>
              </v-col>
            </v-row>
          </v-container> -->
        
      
      
    </v-table>
      </v-col>

      <v-col>
        <v-card>
        <div v-if="useTicket.ticketnow.name == 'Transformers: rise of the beasts'">
            <v-img
            src="https://media.webmagazine24.it/wp-content/uploads/2023/06/09151259/Transformers-rise-of-the-beats-e1686316432150-865x1024.jpg"
            height="200" class="align-start"></v-img>

          <v-col >
            <div><h3>{{ useType.items[0].name }}</h3></div>
          </v-col>
          </div>

          <div v-if="useTicket.ticketnow.name == 'The Super Mario Bros. Movie'">
            <v-img
            src="https://dx35vtwkllhj9.cloudfront.net/universalstudios/super-mario-bros/images/regions/us/onesheet.jpg"
            height="200" class="align-start"></v-img>

          <v-col>
            <div><h3>{{ useType.items[1].name }}</h3></div>
          </v-col>
          </div>

          <div v-if="useTicket.ticketnow.name == 'Doraemon Movie: Nobitas Mermaid Legend'">
            <v-img
            src="https://www.cinema.com.my/images/movies/2011/7doraemon201000_450.jpg"
            height="200" class="align-start"></v-img>

          <v-col >
            <div><h4>{{ useType.items[2].name }}</h4></div>
          </v-col>
          </div>
          
          <div v-if="useTicket.ticketnow.name == 'Spider-man: across the spider-verse'">
            <v-img
            src="https://preview.redd.it/5340uy7qfyr81.jpg?auto=webp&s=73a6ea145845f7ccb3a074dbb81158a86cc08fdf"
            height="200" class="align-start"></v-img>

          <v-col >
            <div><h3>{{ useType.items[3].name }}</h3></div>
          </v-col>
          </div>

          <div v-if="useTicket.ticketnow.name == 'The Flash (2023)'">
            <v-img
            src="http://www.cinemaonett.com/wp-content/uploads/Movies/The-Flash-Movie-Poster-01.jpeg-403x598.webp"
            height="200" class="align-start"></v-img>

          <v-col>
            <div><h3>{{ useType.items[4].name }}</h3></div>
          </v-col>
          </div>
          
          <div class="ma-4">
            <h3 > รอบฉาย</h3>
            <p5>{{ useTicket.ticketnow.date }}</p5><br>
            <p4>{{ useTicket.ticketnow.where }}</p4>
            
          </div>
          <v-btn variant="outlined" class="ma-4">{{ useTicket.ticketnow.time }}</v-btn>
          <br>
          <v-container>
            <v-row>
              <v-col>
              
          <div>
            <h4>ที่นั่ง:</h4>
          </div>
          <div> {{ selected }}</div>
          <br>
              </v-col>
              <v-col>
                <div>ราคา</div>
                {{ selected.length * 150 }}
              </v-col>
            </v-row>
          </v-container>
          

          <v-btn block 
          size="x-large"
          color="amber-darken-1"
          @click="useTicket.ticketSeat(selected)"
          to="/buyticket"
          >ซื้อตั๋ว</v-btn>
      </v-card>
      </v-col>
    </v-row>
    
    
  </v-container>
  
  <v-row>
    <v-col cols="8">
      <div class="pa-4 text-center bg-grey-darken-4  rounded-0">
        <v-icon :icon="mdiSofaSingle"></v-icon><div>Normal 150฿</div>
  

        </div>
    </v-col>
    <v-col>

    </v-col>
  </v-row>
</template>
<style></style>